<div class="companies-form-holder"> 
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
    
        
        <p>Code: <%= @car.code %></p>
        <p>Company: <%= @car.company.name %></p> 
        <p>Make: <%= @car.make %></p>
        <p>Model: <%= @car.model %></p>
        <p>License Plate: <%= @car.license_plate %></p>


    </div>
  </div>
</div>