<div class="companies-form-holder"> 
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
      <h1><%= title %></h1>

      <%= simple_form_for @car do |f| %>
        <% selected_company = params[:id] ? params[:id].gsub("company", "") : 0 %>
        <%= f.association :company, label: "Select organization", value_method: :id, prompt: "Select organization", :selected => selected_company %>
        <%= f.input :code %>
        <%= f.input :make %>
        <%= f.input :model %>
        <%= f.input :color %>
        <%= f.input :license_plate %>

        <div class="button-holder">
          <%= f.button :submit, :class => "button" %>

          <% if @car.id %>
            <%= link_to "Delete", { :id => @car.id, :action => :destroy }, :method => :delete, data: { confirm: "Are you sure?  You're about to delete this car..." }, :class => "button alert" %>
          <% end %> 
        </div>
      <% end %>


    </div>
  </div>
</div>